body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column; /* Esta linha organiza os itens de cima para baixo */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    background: #111;
    display: none; /* Garante que o jogo comece invisível */
}

#menu {
  color: white;
  text-align: center;
}

#menu h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#menu button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

#menu button:hover {
  background-color: #ddd;
}

/* Estilo do botão de voltar */
#backBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#backBtn:hover {
    background-color: #ff3333;
}