body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    user-select: none;
}

canvas {
    background: #111;
    display: none;
    border: 2px solid #222;
}

#menu {
  color: white;
  text-align: center;
}

#menu h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#startBtn, #howToPlayBtn, #closeInstructionsBtn {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin: 5px;
  transition: background 0.2s;
}

#startBtn { background-color: white; color: black; }
#startBtn:hover { background-color: #ddd; }

#howToPlayBtn { background-color: #444; color: white; }
#howToPlayBtn:hover { background-color: #555; }

#closeInstructionsBtn { background-color: #ff4d4d; color: white; }
#closeInstructionsBtn:hover { background-color: #ff3333; }

#backBtn {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#backBtn:hover {
    background-color: #ff3333;
}